.matches {
  height: 100%;
}
.matches .matches_summonerWrap {
  position: relative;
  height: 50px;
}
.matches .matches_summonerWrap .matches_summonerWrap_summoner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  text-align: center;
}
.matches .matches_scroll .matches_scroll_list {
  padding: 10px 10px 10px 10px;
}
.matches .matches_scroll .matches_scroll_list .matches_list_match {
  margin: 10px 0 10px 0;
  padding: 10px 5px 10px 5px;
  border: 1px solid #eee;
  border-radius: 10px;
}
