.appWrap {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 50px 25px 25px 1fr 25px 25px;
    grid-template-areas: 
        "title title title title"
        "subtitle subtitle subtitle subtitle"
        "subtitle subtitle subtitle subtitle"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
    border: 1px solid #333;
    height: 100%;

    @media only screen and (min-width: 601px) {
        grid-template-areas:
            "title title subtitle subtitle"
            "main main main main"
            "main main main main"
            "main main main main"
            "main main main main"
            "footer footer footer footer";
        }

    @media only screen and (min-width: 1008px) {
        grid-template-areas:
            "title title subtitle subtitle"
            "title title subtitle subtitle"
            "main main main main"
            "main main main main"
            "footer footer footer footer"
            "footer footer footer footer";
        }

    .titleWrap {
        // border: 1px solid #333;
        grid-area: title;
    }

    .bodyWrap {
        // border: 1px solid #333;
        grid-area: main;
    }

    .searchWrap {
        // border: 1px solid #333;
        grid-area: subtitle;
    }

    .footerWrap {
        // border: 1px solid #333;
        grid-area: footer;
    }
}