.appWrap {
  display: grid;
  grid-template-columns: 100px 1fr 50px 0px;
  grid-template-rows: 50px 50px 1fr 25px 25px;
  grid-template-areas: "header header header header" "left left left left" "main main main right" "main main main right" "footer footer footer footer";
  border: 1px solid #333;
  height: 100%;
}
@media only screen and (min-width: 601px) {
  .appWrap {
    grid-template-areas: "header header header header" "header header header header" "left main main right" "left main main right" "footer footer footer footer";
  }
}
@media only screen and (min-width: 1008px) {
  .appWrap {
    grid-template-areas: "header header header header" "header header header header" "left main right right" "footer footer footer footer" "footer footer footer footer";
  }
}
.appWrap .header {
  border: 1px solid #333;
  grid-area: header;
}
.appWrap .body {
  border: 1px solid #333;
  grid-area: main;
}
.appWrap .leftnav {
  border: 1px solid #333;
  grid-area: left;
}
.appWrap .rightnav {
  border: 1px solid #333;
  grid-area: right;
}
.appWrap .footer {
  border: 1px solid #333;
  grid-area: footer;
}
